@font-face {
  font-family: "Vectora LT Std";
  src: url("VectoraLTStd-Bold.eot");
  src: url("VectoraLTStd-Bold.eot?#iefix") format("embedded-opentype"),
    url("VectoraLTStd-Bold.woff2") format("woff2"),
    url("VectoraLTStd-Bold.woff") format("woff"),
    url("VectoraLTStd-Bold.ttf") format("truetype"),
    url("VectoraLTStd-Bold.svg#VectoraLTStd-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  background: #000000;
  font-family: "Vectora LT Std", sans-serif;
  width: 100vw;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.st0 {
  fill: none;
  stroke: black;
  stroke-miterlimit: 10;
  enable-background: new;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* 
#projectContainer,
#projectContainer2,
#projectContainer3 {
  display: none;
  width: 100%;
  height: 200vw;
  position: fixed;
  top: 100%;
  left: 0;
  color: black;
  /* color: white;
  padding: 10vw;
  border-radius: 50% 50% 0% 0% / 100% 100% 0% 0%;
}

#projectContainer,
#projectContainer3 {
  /* background: #999355;
  background: white;
}

#projectContainer2 {
  /* background: #f6f0d2;
  background: black;
}

#projectContent {
  opacity: 0;
}

#projectContent p {
  width: 70vw;
  margin: 0 auto;
  font-size: 2vw;
}

#closeButton {
  display: none;
  border: none;
  background: black;
  padding: 1.5%;
  position: fixed;
  right: 3%;
  top: 3%;
  width: 10vw;
  height: 10vw;
}

#closeButton span svg {
  display: block;
  height: 100%;
  width: 100%;
}

#closeButton span svg path {
  stroke: white;
} */
