@font-face {
  font-family: "Vectora LT Std";
  src: url("VectoraLTStd-Bold.eot");
  src: url("VectoraLTStd-Bold.eot?#iefix") format("embedded-opentype"),
    url("VectoraLTStd-Bold.woff2") format("woff2"),
    url("VectoraLTStd-Bold.woff") format("woff"),
    url("VectoraLTStd-Bold.ttf") format("truetype"),
    url("VectoraLTStd-Bold.svg#VectoraLTStd-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

html {
  background: #000000;
}

body {
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Vectora LT Std", sans-serif;
  width: 100%;
}

button {
  cursor: pointer;
}

#projectContent {
  display: none;
  width: 100%;
  height: 100%;
  background: #111111;
  position: fixed;
  top: 720px;
  left: 0;
  color: white;
  padding: 5em;
}

#projectContent p {
  width: 720px;
  margin: 0 auto;
}

#closeButton {
  display: none;
  z-index: 9;
  -webkit-transform: translateZ(9px);
  transform: translateZ(9px);
  background: transparent;
  height: 2.5rem;
  padding: 1rem;
  position: fixed;
  right: 20px;
  top: 20px;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  width: 2.5rem;
}

#closeButton:hover {
  -webkit-transform: rotate(180deg) scale(1.3);
  transform: rotate(180deg) scale(1.3);
}

#closeButton span {
  display: block;
  height: 1.5rem;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  width: 1.5rem;
}

#closeButton span svg {
  display: block;
  height: 100%;
  width: 100%;
}

#closeButton span svg path {
  stroke: white;
}

.st0 {
  fill: none;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  enable-background: new;
}

#app::before {
  content: "";
  bottom: 2.5em;
  height: 1.5em;
  width: 1.5px;
  background: white;
}

#app::after {
  content: "Scroll";
  position: fixed;
  bottom: 0;
  width: 6em;
  text-align: center;
  margin: 0 0 1.5em -3em;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-indent: 2px;
  color: white;
}

#app::before,
#app::after {
  position: fixed;
  left: 50%;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
